
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textColorBlack {
  color:#222222 ;
}




.carousalImg{
  object-fit: contain !important;
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as per your layout */
  font-size: 24px; /* Adjust font size as needed */
}

.thank-you-text {
  margin-bottom: 20px;
}

.svg-container {
  width: 50px; /* Adjust width of SVG container */
  height: 50px; /* Adjust height of SVG container */
}

/* CSS animation for SVG icon */
.feather {
  animation: feather-spin 2s infinite linear;
}

@keyframes feather-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
